body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.uploadNote {
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline-block;
  width: 579px;
  height: 206px;
  padding: 20px;
  border: 2px dotted black;
  border-radius: 10px;
}
